<app-form (searchTerm)='locateName($event)'></app-form>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <div *ngFor = 'let myUser of myUsers'>
                    <img class="img-thumbnail" src="{{myUser.avatar_url}}" alt="User avatar">
                    <h3> Name : {{myUser.name}}</h3>
                    <span> <p>Followers {{myUser.followers}} </p>    
                    <p>Following {{myUser.following}} </p> </span> 
                    <p>Bio: {{myUser.bio}} </p>
                    <p>Created at {{myUser.created_at|date}}</p>
                    <p>Last updated at : {{myUser.updated_at | date }}</p>
                    <button>View on Github <a href="{{myUser.html_url}}" target="_blank"></a></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">            
            
        </div>
    </div>
</div>
