<div class="container-fluid">
    <app-navbar></app-navbar>

    <app-form (searchTerm)='locateName($event)'></app-form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 sticky">
                <div class="card-body">
                    <div *ngFor = 'let myUser of myUsers'>
                        <div class="row">
                            <img class="img-thumbnail" src="{{myUser.avatar_url}}" alt="User avatar">
                            <div class="card-body text-center">
                                <h3>{{myUser.name}}</h3>
                                <div class="d-inline">
                                    <p>Followers <br> {{myUser.followers}} </p>    
                                    <p>Following <br> {{myUser.following}} </p>
                                </div>
                                <hr>
                                <p> <b class="mb-4">Bio</b> <br class="m-4"> {{myUser.bio}} </p>
                            </div>
                        </div>                                               
                        <p>Last updated {{myUser.updated_at | lastUpdate }}</p>
                        <a href="{{myUser.html_url}}" target="_blank"><button class="btn btn-primary">View on Github </button></a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-7">               
                <h3>Repositories</h3>      
                <div class="repos" *ngFor = 'let myRepo of myRepos'>
                    <div *ngFor = 'let myRep of myRepo'>
                        <div class="card card-body m-3">
                            <p> <b>{{myRep.name}}</b> </p>
                            <hr>
                            <p> {{myRep.description}} </p>
                            <p>{{myRep.forks}}</p>
                            <p>{{myRep.language}}</p>
                            <a href="{{myRep.html_url}}" target="_blank"><button class="btn btn-primary">...go to Github</button></a>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>